/*.rn_ProductCategorySearchFilter button.rn_DisplayButton {
    background:#FFF url(../images/splitButtonArrow.png) no-repeat scroll right center;
    border:1px solid #B1B1B1;
    min-height:1.5em;
    min-width:250px;
    padding:4px 20px 4px 4px;
    position: relative;
    text-align:left;
    text-shadow:none;
}

.rn_HighContrastMode .rn_ProductCategorySearchFilter
button.rn_DisplayButton {
border: 1px inset;
}
.rn_HighContrastMode .rn_ProductCategorySearchFilter
button.rn_DisplayButton:after {
content:"\25BC";
position: absolute;
right: 4px;
}

.rn_ProductCategorySearchFilter .rn_Panel {
    background:#FFF;
    border:1px solid #B1B1B1;
    max-height:200px;
    overflow:auto;
    padding:6px;
}
.rn_ProductCategorySearchFilter button.rn_DisplayButton:hover,
.rn_ProductCategorySearchFilter button.rn_DisplayButton:focus {
    background-color:#F8F8F8;
}
.rn_ProductCategorySearchFilter table {
    border-collapse:collapse;
}
.rn_ProductCategorySearchFilter .rn_Label {
    color:#333333;
    float:left;
    font-weight:bold;
    width:38%;
}

.rn_ProductCategoryLinks {
width: 400px;
}*/

.rn_ProductCategorySearchFilter {
 float: left;
 display: block;
 margin-right: 2.35765%;
 width: 31.76157%;
 text-shadow: none;
 }

 .rn_ProductCategorySearchFilter:last-child {
 margin-right: 0;
 }

 @media screen and (max-width: 720px) {
.rn_ProductCategorySearchFilter {
 *zoom: 1;
 display: block;
 margin-left: 17.05961%;
 float: left;
 display: block;
 margin-right: 2.35765%;
 width: 65.88078%;
 margin-bottom: 1em;
 }

 .rn_ProductCategorySearchFilter:before,
 .rn_ProductCategorySearchFilter:after {
 content: " ";
 display: table;
 }

.rn_ProductCategorySearchFilter:after {
 clear: both;
 }

 .rn_ProductCategorySearchFilter:last-child {
 margin-right: 0;
 }
 }

 @media screen and (max-width: 400px) {
 .rn_ProductCategorySearchFilter {
 *zoom: 1;
 display: block;
 margin-left: 0%;
 float: left;
 display: block;
 margin-right: 2.35765%;
 width: 100%;
 }

 .rn_ProductCategorySearchFilter:before,
 .rn_ProductCategorySearchFilter:after {
 content: " ";
 display: table;
 }

 .rn_ProductCategorySearchFilter:after {
 clear: both;
 }

 .rn_ProductCategorySearchFilter:last-child {
 margin-right: 0;
 }
 }

/*.rn_ProductCategorySearchFilter button.rn_DisplayButton {
 width: 100%;
 background: #FFF;
 border: 1px solid #999;
 font-weight: normal;
 margin-top: auto;
 min-height: 1.5em;
 padding: 4px 20px 4px 4px;
 position: relative;
 text-align: left;
 text-shadow: none;
 margin-right: 0;
 border-radius: 0;
 box-shadow: none;
 }*/

.rn_ProductCategorySearchFilter button.rn_DisplayButton {
    background: #FFF url(../images/splitButtonArrow.png) no-repeat scroll right center;
    border: 1px solid #B1B1B1;
    min-height: 1.5em;
    min-width: 250px;
    padding: 4px 20px 4px 4px;
    text-align: left;
    text-shadow: none;
}
 .rn_ProductCategorySearchFilter button.rn_DisplayButton:after {
 font-family: 'FontAwesome';
 margin-left: 6px;
 }

 .rn_ProductCategorySearchFilter button.rn_DisplayButton:after {
 /*content: "\f0d7";*/
 position: absolute;
 right: 5px;
 font-size: 1em;
 }

 .rn_ProductCategorySearchFilter button.rn_DisplayButton:hover,
 .rn_ProductCategorySearchFilter button.rn_DisplayButton:focus {
 box-shadow: none;
 background-color: #DDD;
 }

.rn_ProductCategorySearchFilter .rn_Panel {
 width: 100%;
background: #FFF;
border: 1px solid #999;
 max-height: 200px;
 overflow: auto;
 padding: 6px;
 }

.rn_ProductCategorySearchFilter .rn_PanelContainer {
 border: 1px solid #999;
 border-top: 0;
 /*width: 350px;*/
 width: 240px;
 }

 @media screen and (max-width: 960px) {
 .rn_ProductCategorySearchFilter .rn_PanelContainer {
 width: auto;
}
 }

 .rn_ProductCategorySearchFilter .rn_PanelContainer .rn_Panel {
 border: 0;
 }

 .rn_ProductCategorySearchFilter .rn_SelectionButtons {
 background: #DDD;
 border-top: 1px solid #999;
 }
 .rn_ProductCategorySearchFilter .rn_SelectionButtons button {
 font-size: 0.95em;
 margin: 7px 0 7px 5px;
 padding: 5px;
 }

.rn_ProductCategorySearchFilter table {
 border-collapse: collapse;
 }

 .rn_ProductCategorySearchFilter table td {
 padding: 0;
 border: 0;
 text-shadow: none;
 }

 .rn_ProductCategorySearchFilter .rn_Label {
 width: 100%;
 display: block;
 font-weight: bold;
 margin-bottom: 2px;
}

 /**
 * Styling for the TreeView UI widget that is used
 * in a number of product / category widgets.
 *
 * .ygtvtn - first or middle sibling, no children
 * .ygtvtm - first or middle sibling, collapsible
 * .ygtvtmh - first or middle sibling, collapsible, hover
 * .ygtvtp - first or middle sibling, expandable
 * .ygtvtph - first or middle sibling, expandable, hover
 * .ygtvln - last sibling, no children
 * .ygtvlm - last sibling, collapsible
 * .ygtvlmh - last sibling, collapsible, hover
 * .ygtvlp - last sibling, expandable
 * .ygtvlph - last sibling, expandable, hover
 */

 .ygtvchildren table {
 border-collapse: collapse;
 }

 .ygtvchildren table td {
 padding: 0;
 border: 0;
 }

 .ygtvchildren .ygtvrow {
 cursor: pointer;
 }

 .ygtvchildren a.ygtvspacer {
 display: block;
 text-decoration: none;
 width: 1em;
 }

 .ygtvchildren .ygtvtm,
 .ygtvchildren .ygtvtmh,
 .ygtvchildren .ygtvtp,
 .ygtvchildren .ygtvtph,
 .ygtvchildren .ygtvlm,
 .ygtvchildren .ygtvlmh,
 .ygtvchildren .ygtvlp,
 .ygtvchildren .ygtvlph {
 /* Left-hand gutter for all nodes where collapse/expand UI
 * icons appear for nodes with children. */
 cursor: pointer;
 height: 22px;
 width: 1em;
/* changes for arrow button */
 /*background: url(../images/layout/arrowRight13x13.gif) top right no-repeat;*/
 background: url(../images/layout/arrowDown13x13.gif) top right no-repeat;
 }

.ygtvchildren .ygtvloading {
    background: url(../images/indicator.gif) top right no-repeat !important;
     cursor: pointer;
    height: 22px;
    width: 1em;
}


 .ygtvchildren .ygtvtm a,
 .ygtvchildren .ygtvtmh a,
 .ygtvchildren .ygtvtp a,
 .ygtvchildren .ygtvtph a,
 .ygtvchildren .ygtvln a,
 .ygtvchildren .ygtvlm a,
 .ygtvchildren .ygtvlmh a,
 .ygtvchildren .ygtvlp a,
 .ygtvchildren .ygtvlph a,
 .ygtvchildren .ygtvloading a {
 color: #333;
 text-decoration: none;
 }

 .ygtvchildren .ygtvln,
 .ygtvchildren .ygtvtn {
 /* No children */

 width: 1em;
 height: 20px;
 }

 .ygtvchildren .ygtvtm a,
 .ygtvchildren .ygtvtmh a,
 .ygtvchildren .ygtvlm a,
 .ygtvchildren .ygtvlmh a {
 /* Collapsible */
 background: url(../images/layout/arrowDown13x13.gif) top right no-repeat;
 }

 .ygtvchildren .ygtvtm a:before,
 .ygtvchildren .ygtvtmh a:before,
 .ygtvchildren .ygtvlm a:before,
 .ygtvchildren .ygtvlmh a:before {
 font-family: 'FontAwesome';
 margin-right: 6px;
 /*content: "\f0d7";*/
 }

 .ygtvchildren .ygtvtp a,
 .ygtvchildren .ygtvtph a,
 .ygtvchildren .ygtvlp a,
 .ygtvchildren .ygtvlph a {
 /* Expandable */
 background: url(../images/layout/arrowRight13x13.gif) top right no-repeat;
 /*background: url(../images/layout/arrowDown13x13.gif) top right no-repeat;*/
 }

 .ygtvchildren .ygtvtp a:before,
 .ygtvchildren .ygtvtph a:before,
 .ygtvchildren .ygtvlp a:before,
 .ygtvchildren .ygtvlph a:before {
 font-family: 'FontAwesome';
 margin-right: 6px;
 /*content: "\f0da";*/
     /*background: url(../images/layout/arrowDown13x13.gif) top right no-repeat;*/
 }

 .ygtvchildren .ygtvloading:before {
 font-family: 'FontAwesome';
 margin-right: 6px;
 /*content: "\f110";*/
 -webkit-animation: fa-spin 2s infinite linear;
 -moz-animation: fa-spin 2s infinite linear;
 animation: fa-spin 2s infinite linear;
 display: block;
 font-size: 1em;
 position: relative;
 text-align: center;
 }

 .ygtvchildren .ygtvloading a.ygtvspacer {
 display: none;
 }

 .ygtvchildren .ygtvdepthcell,
 .ygtvchildren .ygtvblankdepthcell {
 /* Empty cells that are used for rendering the depth
 * of the node */

 background: transparent;
 width: 1em;
 height: 20px;
 }

 .ygtvchildren .ygtvlabel,
 .ygtvchildren .ygtvlabel:link,
 .ygtvchildren .ygtvlabel:visited,
 .ygtvchildren .ygtvlabel:hover {
 /* Text label in ygTextNode */

 color: #111;
 font-size: 12px;
 margin-left: 2px;
 text-decoration: none;
}

 .ygtvchildren .ygtvfocus {
 background-color: #c0e0e0;
 border: 0;
 }

 .ygtvchildren .ygtvfocus .ygtvlabel,
 .ygtvchildren .ygtvfocus .ygtvlabel:link,
 .ygtvchildren .ygtvfocus .ygtvlabel:visited,
 .ygtvchildren .ygtvfocus .ygtvlabel:hover {
 background-color: #c0e0e0;
 }

 .ygtvchildren .ygtvfocus a {
 outline-style: none;
 }