@import 'widget-includes';

.rn_SocialContentRating {
    button.rn_UpvoteButton {
        @include icon($fa-var-arrow-circle-o-up) {
            padding: 0 .1em;
            margin-right: 0;
        }

        color: $base-accent-color;
        background: none;
        border: 0;
        box-shadow: none;
        font-size: large;
        text-shadow: none;
        padding: 0;
        font-weight: normal;

        &:hover, &:focus, &:active, &:disabled {
            border: 0;
            box-shadow: none;
            background: none;
        }

        &:disabled {
            color: $base-accent-color;
        }

        &:not([disabled]) {
            &:hover, &:focus, &:active {
                color: darken($base-accent-color, 20);
            }
        }
    }
}
