/**
 * base.css: Base CSS for CurrentMeter
 */
.rn_CurrentMeter {

}

#div_meters2,#meters .rn_Accordion_container{
	width:170% !important;
	margin-bottom:20px;
}

#meters .yui3-datatable-message-content{
	padding:5px !important;
}
